<style>
        p {
             text-align: center;
             width: 300px;
             height: 100px;
             padding: 100px;
             margin: 60px;
             font-family: "Helvetica";
             font-size: 50px;
             font-weight: bold;
             margin: 0 auto;
             text-align: center;
        }
        body { background-image: url(https://c.tenor.com/https://i.gifer.com/origin/8d/8d7517950e838876186d8238401a38b7_w200.gif/dance-moves.gif);}
    </style>